.description {
	justify-content: center;
	align-items: center;

	margin-bottom: 8rem;

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		& > .heading {
			align-self: center;
			margin-bottom: 3rem;
		}

		& > .paragraph:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	&__img-col {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
