.details {
	margin-bottom: 8rem;
	justify-content: center;
	align-items: center;

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		& > .heading {
			align-self: center;
			margin-bottom: 3rem;
		}

		& > .paragraph:not(:nth-child(5)) {
			margin-bottom: 3rem;
		}
	}

	&__list {
		list-style: none;
	}

	&__item {
		font-style: italic;
	}

	&__icon {
		fill: $color-primary;
		margin-right: 1rem;
	}
}
