.experience-card {
	background-color: $color-grey-light;
	border: 1px solid $color-grey-light;
	border-radius: 0.5rem;
	box-shadow: 0 2rem 4rem rgba($color-black, 0.1);
	margin-bottom: 6rem;
	overflow: hidden;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.02);
		box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
	}

	&__header {
		background-color: $color-grey-light;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	&__logo {
		width: 8rem;
		height: 8rem;
		margin-right: 2rem;
		border: 2px solid $color-primary;
		border-radius: 50%;
	}

	&__text {
		padding: 1.5rem;
		border-left: 4px solid $color-primary;
	}

	&__title {
		font-size: 2.5rem;
		color: transparent;
		background: linear-gradient(90deg, $color-primary, $color-primary-dark);
		background-clip: text;
		-webkit-background-clip: text;
		display: inline-block;
		margin-bottom: 1rem;
	}

	&__project,
	&__project-description {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	&__project-description {
		border-top: 1px dashed $color-primary;
		padding-top: 1rem;
	}

	&__body {
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__button {
		color: $color-primary;
		padding: 1rem 0;
		cursor: pointer;
		transition: all 0.2s;
		text-decoration: underline;
		font-size: 1.4rem;

		&:hover {
			background-color: transparent;
			color: $color-primary-dark;
		}
	}

	&__duties {
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s ease-in-out;

		&--show {
			margin-top: 2rem;
			max-height: 100vh;
			background: linear-gradient(to right, $color-grey-light, $color-white);
		}
	}

	&__duty {
		background-color: transparent;
		border: none;
		padding: 1.5rem;
		font-size: 1.4rem;
		border-left: 4px solid $color-primary;

		&:hover {
			background-color: rgba($color-primary, 0.1);
		}
	}
}
