.footer {
	background-color: rgb(248, 249, 250);
	justify-content: center;
	align-items: center;
	margin-top: 4rem;

	.paragraph {
		font-size: 1rem !important;
		margin: 0 !important;
	}

	&__credits {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__copyright {
		text-align: center;
	}

	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		color: $color-primary;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}
