.footer {
	justify-content: center;
	align-items: center;

	&__credits {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__copyright {
		text-align: center;
	}

	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}
