.introduction {
	justify-content: center;
	align-items: center;

	margin-bottom: 8rem;
}

.wave {
	display: inline-block;
	transform-origin: 70% 70%;
	animation-name: waveAnimation;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes waveAnimation {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(10deg);
	}
}
