.navbar {
	font-size: 2rem;
	padding: 2rem 6rem;

	&__items {
		list-style: none;

		// layout
		display: flex;
		align-items: center;
	}

	&__item {
		&:first-child {
			margin-right: auto;
		}

		&:not(:first-child):not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__logo {
		width: 4rem;
		height: auto;
	}

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: inherit;
	}
}
