.heading {
	font-size: 5rem;
	font-weight: 600;
}

.sub-heading {
	font-size: 3.5rem;
	font-weight: 500;
}

.paragraph {
	font-size: 2rem;
	font-weight: 400;
}

.purple-text {
	color: $color-primary;
}
